@model WebQLNS.Models.ChuyenVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChuyenVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuyenVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuyenVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuyenVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuyenVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuyenMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuyenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KinhNghiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KinhNghiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongBan.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
